
nav {
	position: center;
	padding-top: 20px;
	padding-bottom: 275px;
	bottom: 400px;
	left: 45%;
	position: absolute;
	

}

nav a {
	display: inline;
	text-decoration: none;
	font-family: 'Noto Serif', serif;
	font-size: 20px;
	font-weight: bolder;
	color: #000000;
	padding: 0px;
	

}

.hero {

}

.hero img {
 
}

.hero img.top:hover {

}