.center {
    width: 72%;
    text-align: center;
    margin: auto;
    padding: 4em 0 4em;
    position: relative;
    display: inline-block;
}

.center nav a {
	text-decoration: none;
	font-family: 'Noto Serif', serif;
	font-size: 20px;
	font-weight: bolder;
	text-align: center;
	color: #000000;
	padding: 4em 0;
	display: inline-block;
}








footer {
	text-align: center;
	padding: 0 0 3em 0;
}

